@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar1::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollable-container {
    overflow-y: hidden; /* Oculta a rolagem vertical */
    overflow-x: auto; /* Habilita a rolagem horizontal */
    scrollbar-width: thin; /* Largura da barra de rolagem */
    scrollbar-color: transparent transparent; /* Cor da barra e do fundo */
  }

  /* Estilizando a barra de rolagem */
  .scrollable-container::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
  }

  .scrollable-container::-webkit-scrollbar-track {
    background-color: transparent; /* Cor do fundo da barra de rolagem */
  }

  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Cor da barra de rolagem */
    border-radius: 4px; /* Raio da borda da barra de rolagem */
  }

  .scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(
      0,
      0,
      0,
      0.4
    ); /* Cor da barra de rolagem quando o mouse está sobre ela */
  }
  .scrollbar-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 8px; /* Largura da barra de rolagem */
    background-color: rgba(0, 0, 0, 0.5); /* Cor da barra de rolagem */
    z-index: 10; /* Posiciona a barra de rolagem acima dos itens */
  }
}
